google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyMuPDF
python-docx
langchain
langchain-openai
networkx
beautifulsoup4
requests
faiss-cpu
langchain_community
tiktoken
paddleocr
protobuf==3.20.3
opencv-python-headless
